<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" xmlns="" />
  <package id="Noesis.Javascript" version="0.7.1.0" targetFramework="net40" xmlns="" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net40" xmlns="" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" xmlns="" />
</packages>